# Secret key for Auth.js. Generate with `npx auth secret`.
AUTH_SECRET="your_auth_secret"

# PostgreSQL database connection URL
DATABASE_URL=

# GitHub authentication credentials
# Obtain these from GitHub OAuth Apps: https://github.com/settings/developers
AUTH_GITHUB_ID=your_github_id
AUTH_GITHUB_SECRET=your_github_secret

AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

VITE_ENABLE_API_DELAY=true